In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

In [4]:
df = df.dropna(subset=['Genre']).reset_index()

In [5]:
display(df.head(3))

,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E

In [6]:
def ganti_kata(word):
    for i in word:
        if i in word == 'Role-Playing':
            return 'Roleplaying'
        else:
            return word

In [7]:
df['Genre'] = df['Genre'].apply(lambda x: ganti_kata(x))

In [8]:
df['Genre'][:5]

0         Sports
1       Platform
2         Racing
3         Sports
4    Roleplaying
Name: Genre, dtype: object

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
CV = CountVectorizer()

In [11]:
matrix_genre = CV.fit_transform(df_game['Genre'])
jumlah_genre = CV.get_feature_names()
event_genre = matrix_genre.toarray()

NameError: name 'df_game' is not defined

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cos_score = cosine_similarity(matrix_genre)

In [ ]:
fav_game = 'The Rise of the Argonauts'

In [ ]:
index_fav_game = df[df['Name']==fav_game].index.values[0]

In [ ]:
all_game = list(enumerate(cos_score[index_fav_game]))

In [ ]:
mirip_game = sorted(all_game, key=lambda x: x[1], reverse=True)

In [ ]:
game_sama50 = []
for i in mirip_game:
    if i[1]>0.5:
        game_sama50.append(i)

In [ ]:
import random
rekomendasi = random.choices(game_sama50,k=5)

In [ ]:
for i in rekomendasi:
    print('Game :',df.iloc[i[0]]['Name'],
    'Platform :',df.iloc[i[0]]['Platform'],
    'Genre :',df.iloc[i[0]]['Genre'] )