In [1]:
# import standard libraries
import pandas as pd
import numpy as np

In [2]:
# visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# convert csv to DataFrame
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

In [4]:
# Check 'null' value in DataFrame
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [5]:
# Checking the null suspect based on Genre/Name attribute
df[df['Genre'].isnull()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
659,NaN,GEN,1993.0,NaN,Acclaim Entertainment,1.78,0.53,0.00,0.08,2.39,NaN,NaN,NaN,NaN,NaN,NaN
14246,NaN,GEN,1993.0,NaN,Acclaim Entertainment,0.00,0.00,0.03,0.00,0.03,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Drop the suspect
df = df.dropna(subset=['Genre']).reset_index()

In [7]:
# Checking head of DataFrame
display(df.head(3))

,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E

In [8]:
# Function to changing the word Role-Playing to Roleplaying
def ganti_kata(word):
    '''
    Function to change string in Dataframe
    Return 'Roleplaying'
    '''
    for i in word:
        if i in word == 'Role-Playing':
            return 'Roleplaying'
        else:
            return word

In [9]:
# Applying the function to 'Genre'
df['Genre'] = df['Genre'].apply(lambda x: ganti_kata(x))

In [10]:
# Defining the X value based on 'Genre' and 'Platform'
df['Genre_Platform'] = df['Genre'] +' '+ df['Platform']

In [11]:
# Check the X value
df['Genre_Platform'][:10]

0        Sports Wii
1      Platform NES
2        Racing Wii
3        Sports Wii
4    Roleplaying GB
5         Puzzle GB
6       Platform DS
7          Misc Wii
8      Platform Wii
9       Shooter NES
Name: Genre_Platform, dtype: object

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
CV = CountVectorizer()

In [14]:
matrix_genre = CV.fit_transform(df['Genre_Platform'])
jumlah_genre = CV.get_feature_names()
event_genre = matrix_genre.toarray()

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
cos_score = cosine_similarity(matrix_genre)

In [16]:
fav_game = 'Breach'

In [17]:
index_fav_game = df[df['Name']==fav_game].index.values[0]

In [18]:
all_game = list(enumerate(cos_score[index_fav_game]))

In [19]:
mirip_game = sorted(all_game, key=lambda x: x[1], reverse=True)

In [20]:
game_sama50 = []
for i in mirip_game:
    if i[1]>0.5:
        game_sama50.append(i)

In [21]:
import random
rekomendasi = random.choices(game_sama50,k=5)

In [22]:
for i in rekomendasi:
    print('Game :',df.iloc[i[0]]['Name'],
    'Platform :',df.iloc[i[0]]['Platform'],
    'Genre :',df.iloc[i[0]]['Genre'] )

Game : Titanfall 2 Platform : PC Genre : Shooter
Game : Quake 4 Platform : PC Genre : Shooter
Game : Evolve Platform : PC Genre : Shooter
Game : Call of Duty: World at War Platform : PC Genre : Shooter
Game : Left 4 Dead 2 Platform : PC Genre : Shooter